body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: #212426;
}

.clearfix {
    overflow: auto;
}

.contentfeed {
    background-color: #3e4347;
    padding: 0;
}

.friend-filter-container {
    width: 100%;
    margin-bottom: 15px;
}

.friend-filter {
    width: 100%;
    background-color: #212426;
    border-radius: .25rem;
    border-style: none;
    outline: none;
    color: lightgray;
    padding: .5rem .75em;
    opacity: 0.8;
}

.friend-filter:focus {
    background-color: #212426;
    opacity: 0.6;
    color: lightgray;
    box-shadow: none;
}

.friend-fullname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.friend-image {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 4px;
    overflow: hidden;
}

.friend-list-bar {
    background-color: #2c3033;
    color: gray;
    border-right-style: groove;
    border-right-width: 1px;
    border-color: #212426;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    user-select: none;
    overflow: hidden;
}

.friend-list-bar:hover {
    overflow: auto;
}

.friend-list-item {
    margin-bottom: 3px;
    padding: 5px;
    cursor: pointer;
}

.friend-list-item:hover {
    transform: translateX(7px);
    transition: transform 0.3s;
    background-color: #383d41;
}

.friend-list-item.active {
    transform: translateX(7px);
    background-color: #232629;
}

.friend-name-container {
    overflow: hidden;
}

.friend-username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-icon {
    border-radius: 15%;
    display: inline-block;
    margin-right: 6px;
    padding: 0 6px;
    cursor: pointer;
}

.menu-icon:hover {
    background-color: #2c3033;
}

.menu-bar1, .menu-bar2, .menu-bar3 {
    width: 2rem;
    height: .2rem;
    background-color: gray;
    border-radius: 20%;
    margin: .45em auto;
    transition: 0.4s;
}

.change .menu-bar1 {
    transform: rotate(-45deg) translate(-8px, 6px); 
}

.change .menu-bar2 {
    opacity: 0;
}

.change .menu-bar3 {
    transform: rotate(45deg) translate(-8px, -6px); 
}


.message-area {
    width: 100%;
    height: 90%;
    margin: 0;
}

.message-content {
    height: 93%;
    display: flex;
    margin: 0;
    background-color: inherit;
}
 
.message-input-bar {
    width: 93%;
    max-height: 160px; /* this will put a limit on how much the textarea will expand upwards */
    background-color: #2c3033;
    border-radius: .25rem;
    outline: none;
    opacity: 0.8;
    resize: none; /* get rid of the bottom-right draggable expander for textarea elements */
    padding: .5rem .75em;
    color: lightgray;
    border-style: none;
    position: absolute; /* this will ensure the textarea remains positioned in the exact same spot of its container */
    bottom: 24px; /* bring the textarea up from the bottom just a bit to make it look nice */
}

.message-input-bar:focus {
    background-color: #2c3033;
    opacity: 0.6;
    color: lightgray;
    box-shadow: none;
}

.message-input-section {
    height: 10%;
    width: 100%;
    max-height: 184px; /* since this will contain the textarea element, we want to account for the textarea max-height + bottom */
    min-height: 10%; 
    margin: 0;
}

.message-submit-button {
    color: gray;
    outline: none;
}

.message-submit-button-container {
    width: 5%;
    position: absolute;
    right: 15px;
    bottom: 25px;
}

.message-submit-button:hover {
    color: gray;
    background-color: #383d41;
    outline: none;
}

.message-submit-button:active {
    background-color: #2c3033;
    outline: none;
}

.message-submit-button:focus {
    box-shadow: none;
}

.message-thread {
    background-color: #3e4347;
    display: none; /* each message thread is hidden until specific friend is chosen */
}

.message-user-list {
    background-color: #2c3033;
}

.navigation-bar {
    height: 7%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: inherit;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-color: #212426;
}

.navigation-bar-signout {
    display: flex;
    align-items: center;
}

.navigation-sign-out-btn {
    background-color: rgba(1.0, 1.0, 1.0, 0.0);
    border: none;
    outline: none;
    color: gray;
    padding: 2px 8px;
    font-size: 1.25em;
    cursor: pointer;
}

.navigation-sign-out-btn:hover {
    background-color:#2c3033;
    outline: none;
}

.navigation-sign-out-btn:active {
    background-color: #16181a;
    outline: none;
}

.navigation-sign-out-btn:focus {
    outline: none;
}

.thin-bar-left {
    background-color: inherit;
}

.thread-area {
    background-color: inherit;
}

/* Width of scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #212426;
}