html, body {
    margin: 0;
    height: 100%;
}

.header {
    /* height: 6em; */
    background-image: linear-gradient(to right, rgb(167, 169, 173), rgb(79, 83, 83), rgb(23, 24, 26));
    margin: 0;
    overflow: auto;
}

h1#projectname {
    color: white;
    margin: 0;
    font-family: 'Yellowtail', cursive;
    text-align: center;
    height: 2em;
    padding-top: 15px;
    user-select: none;
    font-size: 2.8em;
    white-space: nowrap;
}

.body {
    background-color: #ebedf0;
    padding: 22px 0px 30px; /* top, left&right, bottom */
    overflow: auto;
}

.footer {
    height: 60px;
}

h2 {
    margin: 0px;
    font-family: 'Yellowtail', cursive;
}

form.block {
    background-color: white;
    border-radius: 0.5rem;
    margin: auto;
    width: 432px;
    height: 600px;
    padding: 16px 18px;
    user-select: none;
    overflow:auto;
}

label.inline-label {
    color: white;
    font-size: 0.9em;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 0.2rem;
}

input.inline-field {
    height: calc(1.5em + 0.2rem);
    padding: .175rem;
    width: 10em;
}

#inline-submit-btn {
    background-color: rgb(79, 83, 83);
    opacity: 1.0;
    color: white;
    outline: none;
}

#inline-submit-btn:hover {
    outline: none;
    opacity: 0.9;

}

#inline-submit-btn:active {
    outline: none;
    opacity: 0.8;
}

#navbar-btn {
    color: white;
    font-size: 0.9em;
    background-image: linear-gradient(to right, rgb(167, 169, 173), rgb(79, 83, 83));
    border-color: white;
    float: right;
}

span.error {
    color: #ff0000;
    font-size: 10pt;
}

.form-content {
    padding: 0;
}

.form-group {
    margin: 0px 0px 12px;
    padding: 0px 10px;
}

hr {
    margin: 12px 0px;
}

.btncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0px 0px;
}

#submitBtn {
    background-image: linear-gradient(to right,  rgb(167, 169, 173), rgb(79, 83, 83));
    border-radius: 0.5rem;
    color: white;
    font-size: 14pt;
    padding: 6px 16px;
    margin: 0px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.8;
    outline: none;
}

#submitBtn:hover {
    opacity: 0.9;
    outline: none;
}

#submitBtn:active {
    outline: none;
    opacity: 1.0;
}