@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root {
    --dark: #212426;
    --medium: #2c3033;
    --light: #3e4347;
    --active: #2c3033;
    --medium-active: #232629;
    --dark-active: #16181a;
    --light-hover: #383d41;
}

/* Width of scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--medium);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--medium-active);
}

::-webkit-scrollbar-thumb:active {
    background: var(--dark-active);
}

/*  The following affect the appearance of Login and Signup forms
    such as changing elements', of the specified class, background color
*/
.login-input-field:focus {
    box-shadow: .2em -.1em gray;
}

.login-input-button:hover {
    opacity: .75;
}

.login-input-button:active {
    opacity: .85;
}

#friend-filter-input {
    background-color: var(--dark);
}

#friend-filter-input:focus {
    background-color: var(--dark-active);
}

#sign-out-btn {
    background-color: var(--light);
}

#sign-out-btn:hover {
    background-color: var(--active);
}

#sign-out-btn:active {
    background-color: var(--dark-active);
}

.friend-list-item:hover {
    transform: translateX(4px);
    transition: transform 0.15s;
    background-color: var(--light-hover);
}

.friend-list-item:active {
    transform: translateX(4px) translateY(2px);
    background-color: var(--medium-active);
}

/* styling for chat thread message input and submit button */

.chat-message:hover {
    background-color: var(--light-hover);
}

.chat-message-user-link:hover {
    color: lightskyblue;
}

.message-input-bar {
    background-color: var(--medium);
}

.message-input-bar:focus {
    background-color: var(--medium-active);
}

.message-submit-button {
    color: gray;
    background-color: var(--light);
    transition: transform 0.15s;
    border: none;
    outline: none;
}

/* use this for the disabled submit message button for friend chat threads */
.message-submit-button-disabled {
    color: gray;
    background-color: var(--light);
    opacity: 0.5;
    transition: transform 0.15s;
    border: none;
    outline: none;
}

.message-submit-button:hover {
    color: gray;
    background-color: var(--light-hover);
}

.message-submit-button:active {
    transform: translateY(1px);
    background-color: var(--medium);
}

/* chat message options button group with the smiley face, pen, and three dots */

.chat-message-options-button {
    background-color: var(--light);
    transition: 0.1s;
}

.chat-message-options-button:hover {
    background-color: var(--light-hover);
}

.chat-message-options-button:active {
    background-color: var(--medium);
    transform: translateY(1px);
}

/*  the following will define styling, positioning, transitions for elements 
    that will have a tooltip and its respective text */

.tooltip-target {
    position: relative;
}

.tooltip-target .tooltiptext {
    display: none;
    background-color: var(--dark);

    /* tooltip text position */
    z-index: 7;

    /* tooltip fade in */
    opacity: 0;
    transition: opacity 0.3s;
}

/* this is for the tooltips triangle that points down to the parent button */
.tooltip-target .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: var(--dark) transparent transparent transparent;
}

.tooltip-target:hover .tooltiptext {
    display: inline;
    opacity: 1;
}